/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --main-color: #ff9a6c;
  --site-color: #263138;
  --buttom-color: #ff725e;
  --first-color: #ffffff;
  --second-color: #e4611b;
  /* --third-color: #1b202a; */
}

body {
  color: var(--site-color);
}

header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  padding: 24px 80px;
}

header nav a {
  color: var(--first-color);
  font-weight: 600;
  padding: 0 32px;
  text-decoration: none;
}

header nav a:hover {
  color: var(--second-color);
}

nav a:hover {
  color: var(--buttom-color);
  text-decoration: underline;
}

/* Seção inicial */
#inicio {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 24px 80px 128px 80px;
  position: relative;
}

h1,
h2 {
  font-weight: 600;
  font-size: 32px;
  margin-bottom: 32px;
}

.paragrafo {
  line-height: 150%;
  margin-bottom: 32px;
}

.button {
  background-color: var(--buttom-color);
  border-radius: 8px;
  color: var(--first-color);
  padding: 16px 32px;
  text-decoration: none;
}

.button:hover {
  color: var(--second-color);
  background-color: var(--first-color);
  border: 1px solid var(--buttom-color);
}
.button-transparent:hover {
  color: #03568a;
}

.button-transparent {
  background-color: transparent;
  color: var(--buttom-color);
  padding: 16px 32px;
  text-underline-offset: 4px;
}

.absolute {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -10;
}

/* Seção clínica */
#clinica {
  display: flex;
  align-items: center;
  gap: 64px;
  padding: 64px 80px;
}

#clinica li {
  margin-bottom: 16px;
  margin-left: 32px;
}

/* Seção petshop e farmácia */
#farmacia {
  padding: 64px 80px;
  text-align: center;
}

#farmacia img {
  margin: 64px auto;
}

#farmacia .paragrafo {
  max-width: 950px;
  margin: 0 auto;
}

/* Seção dúvidas frequentes */
#duvidas {
  display: flex;
  align-items: start;
  gap: 64px;
  padding: 64px 80px;
}

.duvida {
  position: relative;
}

.duvida h3 {
  border: 2px solid var(--buttom-color);
  border-radius: 8px;
  cursor: pointer;
  display: block;
  padding: 24px;
}

.duvida img {
  position: absolute;
  top: 32px;
  right: 24px;
}

.duvida .paragrafo {
  border-right: 1px solid var(--buttom-color);
  border-bottom: 1px solid var(--buttom-color);
  border-left: 1px solid var(--buttom-color);
  border-radius: 0 0 8px 8px;
  margin-top: -8px;
  padding: 0 24px;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s;
}

.duvida.ativa .paragrafo {
  height: fit-content;
  opacity: 1;
  padding: 24px;
}

/* Rodapé */
footer {
  background-color: rgba(255, 152, 108, 0.25);
  display: flex;
  justify-content: space-between;
  gap: 80px;
  padding: 64px 80px;
}

footer img,
footer .titulo {
  display: block;
  font-weight: 600;
  margin-bottom: 24px;
}

footer nav a {
  color: var(--site-color);
  display: block;
  margin-bottom: 16px;
  text-decoration: none;
}

footer p {
  max-width: 350px;
  margin-bottom: 16px;
}

footer div p a {
  color: var(--buttom-color);
  text-decoration: none;
}

#copyright {
  background-color: var(--site-color);
  color: var(--first-color);
  padding: 24px;
  text-align: center;
}

#copyright a {
  color: var(--main-color);
}
